include assets/variables
include assets/mixins

include assets/b-page
include assets/b-header
include assets/b-footer

- $.set = {page: 'index', breadcrumbs: [$.pages.index]}

+b-page()
  +e(`inner`)
    +b-header({e: `page`})
    +b(`content`, ({e: `page`}))
      +b(`section-start`, {}, `section`)
        +e(`video`, {}, `video`)(
          autoplay,
          loop,
          data-mobile-src='assets/Detailing-Plus4-(480p).mp4',
          data-desktop-src='assets/Detailing-Plus4-(720p).mp4'
        )
        +e(`inner`)
          +e(`container`).container-fluid
            +e(`title`, {}, `h1`) Наш приоритет&nbsp;&ndash; качество
            +e(`bottom`)
              +b(`btn`, {m: `1`, e: `&`}, `a`)(href='' data-fancybox='' data-src='#form-consult') Получить консультацию
              +b(`btn`, {m: `2`, e: `&`}, `a`)(href='' data-fancybox='' data-src='#form-price') Скачать прайс-лист

      +b(`section`, {m: `bg-1`}, `section`)
        .container-fluid
          +e(`title`, {}, `h2`) Услуги Detailing Plus
          +e(`lead`, {m: `service`}, `p`) Студия профессионального детейлинга и&nbsp;сервисный центр возле вашего дома
          +b(`service-list`)
            +b(`service-item`, {e: `&:item`}, `a`)(href='#service')
              +e(`img-wrap`, {}, `div`)
                +e(`img`, {}, `img`)(src='assets/service-center.jpg' srcset='assets/service-center@2x.jpg 2x' alt='')
              +e(`title`, {}, `h3`) Сервисный центр
              +e(`desc`, {}, `div`)
                p Любое техническое обслуживание в&nbsp;удобное время
            +b(`service-item`, {e: `&:item`}, `a`)(href='#detailing')
              +e(`img-wrap`, {}, `div`)
                +e(`img`, {}, `img`)(src='assets/detailing.jpg' srcset='assets/detailing@2x.jpg 2x' alt='')
              +e(`title`, {}, `h3`) Детейлинг
              +e(`desc`, {}, `div`)
                p Полный спектр услуг по&nbsp;детейлингу для вашего авто
            +b(`service-item`, {e: `&:item`}, `a`)(href='#wash')
              +e(`img-wrap`, {}, `div`)
                +e(`img`, {}, `img`)(src='assets/dry-cleaner.jpg' srcset='assets/dry-cleaner@2x.jpg 2x' alt='')
              +e(`title`, {}, `h3`) Химчистка и&nbsp;мойка
              +e(`desc`, {}, `div`)
                p Классическая 3-х фазная мойка по&nbsp;фирменной технологии

      +b(`section-service`, {}, `section`)#detailing
        +e(`slider`).slick-slider(data-slick='{"autoplay": false, "autoplaySpeed": 7000}')
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_detailing/shutterstock_490527142.jpg'
                data-lazy-srcset='assets/carplus_detailing/shutterstock_490527142@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_detailing/shutterstock_491061181.jpg'
                data-lazy-srcset='assets/carplus_detailing/shutterstock_491061181@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_detailing/shutterstock_515895829.jpg'
                data-lazy-srcset='assets/carplus_detailing/shutterstock_515895829@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_detailing/shutterstock_570934612.jpg'
                data-lazy-srcset='assets/carplus_detailing/shutterstock_570934612@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
        +e(`container`).container-fluid
          +e(`container-inner`)
            +e(`title`, {}, `h2`) Комплексные услуги по&nbsp;детейлингу
            +e(`desc`)
              p.
                Придайте Вашему авто первозданный блеск, а&nbsp;также защиту ЛКП от&nbsp;внешней среды.
            +e(`list`, {}, `ul`)
              +e(`li-item`).icon-icon01 Детейлинг мойка
              +e(`li-item`).icon-icon02 Детейлинг моторного отсека
              +e(`li-item`).icon-icon03 Антигравийные покрытия
              +e(`li-item`).icon-icon04 Керамические покрытия
            +b(`btn`, {m: `3`, e: `&`}, `a`)(href='' data-fancybox='' data-src='#form-consult') Записаться на осмотр

      +b(`section-service`, {m: `bg-1.reverse`}, `section`)#service
        +e(`slider`).slick-slider(data-slick='{"autoplay": false, "autoplaySpeed": 7000}')
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_service/shutterstock_118548679.jpg'
                data-lazy-srcset='assets/carplus_service/shutterstock_118548679@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_service/shutterstock_392475040.jpg'
                data-lazy-srcset='assets/carplus_service/shutterstock_392475040@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_service/shutterstock_517994152.jpg'
                data-lazy-srcset='assets/carplus_service/shutterstock_517994152@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_service/shutterstock_608368649.jpg'
                data-lazy-srcset='assets/carplus_service/shutterstock_608368649@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
        +e(`container`).container-fluid
          +e(`container-inner`)
            +e(`title`, {}, `h2`) Сервисный центр
            +e(`desc`)
              p.
                Дилерские стандарты а&nbsp;также высокая квалификация наших специалистов поможет выполнить техническое обслуживание Вашего авто на&nbsp;высоком уровне!
            +e(`list`, {}, `ul`)
              +e(`li-item`).icon-icon05 Все необходимые запчасти и&nbsp;расходные материалы вы&nbsp;можете приобрести у&nbsp;нас по&nbsp;адекватным ценам
              +e(`li-item`).icon-coffee Комфортная комната ожидания в&nbsp;вашем распоряжении на&nbsp;все время обслуживания
              +e(`li-item`).icon-icon07 Бесплатный трансфер от&nbsp;сервиса до&nbsp;вашего дома
              +e(`li-item`).icon-icon08 Сезонное хранение резины
            +b(`btn`, {m: `3`, e: `&`}, `a`)(href='' data-fancybox='' data-src='#form-consult') Получить консультацию мастера

      +b(`section-service`, {}, `section`)#wash
        +e(`slider`).slick-slider(data-slick='{"autoplay": false, "autoplaySpeed": 7000}')
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_wash/shutterstock_391242529.jpg'
                data-lazy-srcset='assets/carplus_wash/shutterstock_391242529@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_wash/shutterstock_482645425.jpg'
                data-lazy-srcset='assets/carplus_wash/shutterstock_482645425@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_wash/shutterstock_543949384.jpg'
                data-lazy-srcset='assets/carplus_wash/shutterstock_543949384@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_wash/shutterstock_543949426.jpg'
                data-lazy-srcset='assets/carplus_wash/shutterstock_543949426@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_wash/shutterstock_650651476.jpg'
                data-lazy-srcset='assets/carplus_wash/shutterstock_650651476@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
          +e(`sl-item`).slick-slide.loading
            +e(`sl-img-wrap`)
              +e(`sl-img`, {}, `img`)(
                data-lazy='assets/carplus_wash/shutterstock_650651542.jpg'
                data-lazy-srcset='assets/carplus_wash/shutterstock_650651542@2x.jpg 2x'
                alt=''
                data-fit-img=''
                onload='fitImg(this)'
              )
        +e(`container`).container-fluid
          +e(`container-inner`)
            +e(`title`, {}, `h2`) Комплексная химчистка и&nbsp;мойка
            +e(`desc`)
              p.
                Опытный мастер по&nbsp;детейлингу подберет косметику, а&nbsp;профессиональная команда приведет ваш авто к&nbsp;его первозданному виду, включая:
            +e(`list`, {}, `ul`)
              +e(`li-item`).icon-icon09 Мойку двигателя
              +e(`li-item`).icon-icon10 Очистку от&nbsp;глубоких загрязнений кузова
              +e(`li-item`).icon-icon11 Чистку салона (кожа, пластик, алькантара и&nbsp;текстиль)
              +e(`li-item`).icon-icon12 Устранение запахов в&nbsp;салоне
              +e(`li-item`).icon-icon13 Мойку подвески
              +e(`li-item`).icon-icon14 Деликатная чистка интерьера
            +b(`btn`, {m: `3`, e: `&`}, `a`)(href='' data-fancybox='' data-src='#form-consult') Записаться на консультацию

      +b(`section`, {m: `bg-1.pt-lg`}, `section`)
        +b(`container-fluid`, {m: `wmax-800`, p: false})
          +e(`title`, {}, `h2`) Цены на&nbsp;услуги
          +e(`lead`, {}, `p`) Опишите какие услуги вы&nbsp;хотели&nbsp;бы получить, и&nbsp;мы&nbsp;пришлем #[br]детальный расчет на&nbsp;ваш e-mail

          // Form Price
          +b(`form-price`, {}, `form`)(action='' method='get')
            +e(`row`).mb-0
              +b(`field`, {m: `area`, e: `&`}, `textarea`)(name='msg' placeholder='Опишите проблемные места и желаемый результат...')
            +e(`row`)
              +b(`field-file`, {e: `&`}, `label`)
                +e(`input`, {}, `input`)(type='file' name='file' accept='image/*' data-multiple-caption='{count} файлов выбрано' multiple)
                +e(`label`, {}, `span`).icon-add_file Прикрепить фото
            +e(`row`).row.mb-0
              +e(`col`).col-12.col-md-4
                +b(`form-label`, {p: false}, `label`)(data-content='Модель и марка авто')
                  +b(`field`, {e: `&`}, `input`)(type='text' name='model' placeholder='')
              +e(`col`).col-12.col-sm-6.col-md-4
                +b(`form-label`, {p: false}, `label`)(data-content='Ваш E-mail *')
                  +b(`field`, {e: `&`}, `input`)(type='email' name='email' placeholder='' required='')
              +e(`col`).col-12.col-sm-6.col-md-4
                +b(`form-label`, {p: false}, `label`)(data-content='Ваш Телефон')
                  +b(`field`, {e: `&`}, `input`)(type='tel' name='tel' placeholder='+7 (___) ___-__-__' data-mask='+7 (000) 000-00-00' minlength='18')
            +e(`row`, {m: `opts`}).row.mb-0
              +e(`col`).col-12.col-sm-6.offset-sm-3.col-md-4.offset-md-4.mb-0
                +b(`btn`, {m: `3`, e: `&`}, `button`) Отправить заявку
          // /Form Price

      +b(`section`, {}, `section`)
        +b(`container-fluid`, {p: false})
          +e(`title`, {m: `portfolio`}, `h2`) Портфолио Detailing Plus
          +b(`slider-img`).slick-slider(data-slick='{"autoplay": false, "autoplaySpeed": 7000}')
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/18011828_111056069456231_2296946194913427456_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/18095016_1676866182619605_8354626467862151168_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/18160733_1670945803210321_1097945592505565184_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/18579455_691307814390788_4015962947686760448_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/19424731_1867997226856541_2997216968731262976_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/19932675_1927269240875194_3027102579537477632_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/20066211_108632423131745_4604395315737395200_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/20969066_479956739025669_2660293745185914880_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/21372448_412362535832091_5583393382413107200_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )
            +e(`item`).slick-slide.loading
              +e(`img-wrap`)
                +e(`img`, {}, `img`)(
                  data-lazy='assets/portfolio/21479850_358920901225116_2335517341988683776_n.jpg'
                  alt=''
                  data-fit-img=''
                  onload='fitImg(this)'
                )

      +b(`get-price`, {}, `form`)(action='' method='get')
        +e(`container`).container-fluid
          +e(`title`, {}, `h2`) Получить прайс-лист по e-mail
          +e(`row`).row
            +e(`col-1`).col-12.col-sm-6.offset-sm-3.col-md-8.offset-md-0
              +b(`field`, {m: `1`, e: `&`}, `input`)(type='email' name='email' placeholder='Ваш E-mail' required='')
            +e(`col-2`).col-12.col-sm-6.offset-sm-3.col-md-4.offset-md-0
              +b(`btn`, {m: `3`, e: `&`}, `button`) Отправить

      +b(`section`, {m: `bg-1`}, `section`)
        .container-fluid
          +e(`title`, {m: `advantages`}, `h2`) Преимущества Detailing Plus
          +b(`advantages-list`).row
            +e(`item`).icon-icon15.col-12.col-sm-6.offset-sm-3.col-md-4.offset-md-0
              p Гарантия на&nbsp;все наши работы
            +e(`item`).icon-icon07.col-12.col-sm-6.offset-sm-3.col-md-4.offset-md-0
              p Бесплатный трансфер от&nbsp;сервиса до&nbsp;вашего дома
            +e(`item`).icon-coffee.col-12.col-sm-6.offset-sm-3.col-md-4.offset-md-0
              p Бесплатно кофе, чай и&nbsp;десерты, пока ваше авто обслуживается

      +b(`section`, {m: `contacts`})
        .container-fluid
          .row
            .col-12.col-md-7.col-lg-5
              +e(`title`, {}, `h2`) Контакты
              +e(`lead`, {}, `p`) Мы&nbsp;находимся рядом с&nbsp;вами!
              +e(`lead`, {}, `p`) Специальные предложения для жителей ЖК&nbsp;&laquo;Дубровка&raquo;, ЖК&nbsp;&laquo;Коммунарка&raquo;, ЖК&nbsp;&laquo;Новая Звезда&raquo;.
              +b(`address`, {}, `address`)
                +e(`str`, {}, `p`).icon-phone_icon
                  a(href=`tel:+79269990176`) +7-926-999-01-76
                +e(`str`, {}, `p`).icon-point_icon Город Москва, поселение Сосенское, деревня Сосенки, д.7
              +b(`g-map`, {})#map
              script.
                function initMap() {
                  var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 55.552886, lng: 37.431684},
                    zoom: 9,
                    styles: [
                      {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                          {
                            "saturation": 36
                          },
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 40
                          }
                        ]
                      },
                      {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                          {
                            "visibility": "on"
                          },
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 16
                          }
                        ]
                      },
                      {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                          {
                            "visibility": "off"
                          }
                        ]
                      },
                      {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 20
                          }
                        ]
                      },
                      {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 17
                          },
                          {
                            "weight": 1.2
                          }
                        ]
                      },
                      {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 20
                          }
                        ]
                      },
                      {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 21
                          }
                        ]
                      },
                      {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                          {
                            "color": "#0D9C9C"
                          },
                          {
                            "lightness": 17
                          }
                        ]
                      },
                      {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                          {
                            "color": "#0D9C9C"
                          },
                          {
                            "lightness": 29
                          },
                          {
                            "weight": 0.2
                          }
                        ]
                      },
                      {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                          {
                            "color": "#0D9C9C"
                          },
                          {
                            "lightness": 18
                          }
                        ]
                      },
                      {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                          {
                            "color": "#0D9C9C"
                          },
                          {
                            "lightness": 16
                          }
                        ]
                      },
                      {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 19
                          }
                        ]
                      },
                      {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                          {
                            "color": "#000000"
                          },
                          {
                            "lightness": 17
                          }
                        ]
                      }
                    ]
                  });
                  var marker = new google.maps.Marker({
                    map: map,
                    position: {lat: 55.552886, lng: 37.431684},
                    title: 'Detailing Plus'//,
                    //icon: 'img/marker.png'
                  });
                }

    +b-footer({e: `page`})

  // Modals
  include assets/modals